<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jungeun.todoservice.mapper.TodoMapper">
    <select id="selectTodoList" resultType="com.jungeun.todoservice.domain.TodoVO">
        select * from tbltodo order by tno desc
    </select>
    <select id="selectTodoOne" resultType="com.jungeun.todoservice.domain.TodoVO">
        select * from tbltodo where tno = #{tno}
    </select>
    <insert id="insertTodo">
        insert into tbltodo(title, content, duedate, writer) values(#{title}, #{content}, #{duedate}, #{writer})
    </insert>
</mapper>